*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}



#container{
    width: 70%;
    background: red;
    margin: 0px auto;
    font-family: Georgía, 'Times New Roman', Times, Serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    background: lightblue;
    color: #333;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    background: #ccc;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 700px;
}

#articles{
    background-color: lemonchiffon;
    width: 75%;
    float: left;
    min-height: 700px;
}

#articles article{
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*RESPONSIVE*/


@media(max-width: 888px){
/*
    Desde la anchura 0px hasta la anchura 888px se aplicaran los siguientes estilos, 
    en adelante se ejecutan los estilos de arriba

*/    
    #articles article{
        width: 40%;
        background: red;
    }
}

@media(max-width: 632px){    
    /*Se ejecutaran estos estilos*/
    #container{
        overflow: hidden;
    }
    
    #articles{
        width: 100%;
    }
    
    aside{
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 89%;
        padding: 21px;
    }
    
    #articles article{
        width: 90%;
        background: blue;
    }
}

@media(max-width: 554px) {    
    body{
        background: lightsalmon;
    }
}


/* Se ejecutarn estos estilos 
@media(max-width: 632px) and (max-height: 600px){    
    #articles article{
        width: 90%;
        background: blue;
    }
}
*/
    