/*
    Se pueden buscar en googles fondos con la siguiente palabra: pattern background
*/

body{
    /*background-color: #ccc;
    background-image: url(img/patron3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left bottom;*/
    color: black;
    text-align: justify;
    text-indent: 25px;
    /*
    word-spacing: 10px;
    letter-spacing: 5px;
    */
}

#caja{
    border: 5px solid black;
    padding: 10px;
    
    background-color: #8389E0;
    color: white;
    
    font-family: "Open Sans";
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;    
    text-decoration: line-through;
    vertical-align: top;
}

h2{
   color: darkred;
   background: white;
   border: 5px solid red;
   background-image: url(img/patron5.jfif);       
}